<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>1</key>
            <string>E:\git\joshwarecom.github.com\sandbox\if\nohands\src\No Hands Sample Game.materials\Cover.jpg</string>
            <key>3</key>
            <string>Figures\cards-picture.jpg</string>
            <key>4</key>
            <string>Figures\lower-room-picture.jpg</string>
            <key>5</key>
            <string>Figures\lionel-picture.jpg</string>
            <key>6</key>
            <string>Figures\Royal-Woods-Main-Street-picture.png</string>
        </dict>
    </dict>
</plist>
