<div class="sidebar">
  <div class="container sidebar-sticky">
    <p class="masthead-title">{{ site.shortcut }}</p>      
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}te/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% if site.zerohoururl != null %}
      <a class="sidebar-nav-item{% if page.url == '/te/' %} active{% endif %}" href="{{ site.zerohoururl }}"><li>projects</li></a>
      {% endif %}
      {% if site.zerohoururl == null %}
      <a class="sidebar-nav-item{% if page.url == '/te/' %} active{% endif %}" href="{{ site.baseurl }}te/"><li>projects</li></a>
      {% endif %}

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list reversed%}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          {% if node.menu != "wiki" %}          
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}"><li>{% if node.navtext != nil %}{{ node.navtext }}{% endif %}{% if node.navtext == nil %}{{ node.title }}{% endif %}</li></a>
          {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
