---
layout: default
---

{% if page.navigation.topbio %}
{% include article-author-bio-small.html %}
{% endif }
<article itemscope itemtype="http://schema.org/BlogPosting">

  <div itemprop="articleBody">
    {% if page.navigation.is_comic_page %}
    <img src="{{ page.navigation.asset }}" style="width: 100%; height: 100%;">
    <br />
    {% assign previous_post = nil %}    
    {% assign posts_lang = site.categories['comics'] | where:"lang", page.lang %}
    {% assign first_post = posts_lang | size %}
    {% assign first_nav = first_post | minus:1 %}    
    {% assign i = 0 %}
        {% for post in posts_lang %}
        {% endfor %}
    <br />
    {% endif %}
    <br />
    {{ content }}
    <br />
    {% include facebook-like-post.html %}
    {% include facebook-comments.html %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  {% if site.facebook.pixelcode %}
  <!-- Facebook Pixel Code -->
  <script>
  fbq('track', 'ViewContent');
  </script>
  <!-- End Facebook Pixel Code -->
  {% endif %}


</article>
