---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
Posted: {{ page.last-modified-date }}
{%if page.tags.size > 0 %}
  <div class="post-meta-list post-tag-list">
    Tags: 
    {% for tag in page.tags %}
    <code>{{ tag | escape }}</code>&nbsp;
    {% endfor %}
  </div>
{%endif %}

  <div itemprop="articleBody">
    {% if page.navigation.is_comic_page %}
    <img src="{{ page.navigation.asset }}" style="width: 100%; height: 100%;">
    <br />
    {% assign previous_post = nil %}
    {% assign posts_lang = site.categories['comics'] | where:"lang", page.lang %}
    {% assign first_post = posts_lang | size %}
    {% assign first_nav = first_post | minus:1 %}
    {% assign i = 0 %}
        {% for post in posts_lang %}
        {% assign i = i | plus:1 %}
        {% assign next_i = i | minus:2 %}
        {% if next_i == -1 %}
        {% assign next_i = i | minus:1 %}
        {% endif %}
        {% if post == page %}
        {% if previous_post == nil %}
        <table style="width: 100%;"><tr><td style="width: 20%;"><a href="{{posts_lang[first_nav].url}}">|&lt;</a></td><td style="width: 20%;"><a href="{{posts_lang[i].url}}">&lt;</a></td><td style="width: 20%;"> </td><td style="width: 20%;"><a href="{{posts_lang[next_i].url}}">&gt;</a></td><td style="width: 20%;"><a href="{{posts_lang[0].url}}">&gt;|</a></td></tr></table>
        {% else %}
        {% if i == first_post %}
        <table style="width: 100%;"><tr><td style="width: 20%;"><a href="{{posts_lang[first_nav].url}}">|&lt;</a></td><td style="width: 20%;"><a href="{{posts_lang[i].url}}">&lt;</a></td><td style="width: 20%;"> </td><td style="width: 20%;"><a href="{{posts_lang[next_i].url}}">&gt;</a></td><td style="width: 20%;"><a href="{{posts_lang[0].url}}">&gt;|</a></td></tr></table>
        {% else %}
        <table style="width: 100%;"><tr><td style="width: 20%;"><a href="{{posts_lang[first_nav].url}}">|&lt;</a></td><td style="width: 20%;"><a href="{{posts_lang[i].url}}">&lt;</a></td><td style="width: 20%;"> </td><td style="width: 20%;"><a href="{{posts_lang[next_i].url}}">&gt;</a></td><td style="width: 20%;"><a href="{{posts_lang[0].url}}">&gt;|</a></td></tr></table>
        {% endif %}
        {% endif %}
        {% endif %}
        {% assign previous_post = post %}
        {% endfor %}
    <br />
    {% endif %}
    {{ content }}
  </div>
  {% if site.disqus %}
    {% include disqus.html %}
  {% endif %}
</article>
